name: Build Docker Image and Trigger Docs/Website

on:
  # push:
  #   tags:
  #     - "[0-9]+.[0-9]+.[0-9]+*"
  release:
    types: [published]

permissions:
  id-token: write
  contents: write
  packages: write
  actions: write

jobs:
  build:
    runs-on: ubuntu-latest
    if: needs.validate-tag-semver.outputs.valid == 'true'
    permissions:
      id-token: write
      contents: write
      packages: write
    steps:
      - name: Run only once per release
        run: echo "Triggered by ${{ github.event_name }}"

      - name: Checkout code
        uses: actions/checkout@v4.3.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Login to Docker Hub
        uses: docker/login-action@v3.5.0
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set version
        run: |
          sed -i 's/<version>/${{ steps.meta.outputs.version }}/' backend/__version__.py

      - name: Build full image
        id: build-full
        uses: docker/build-push-action@v6.18.0
        with:
          file: docker/Dockerfile
          context: .
          push: true
          platforms: linux/arm64,linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          target: full-image
